<!--Parent Component Start-->

<!--Importing Child Module-->
<app-tf-prediction

  [objectToPredict]="data.objectToDetect"
  [predictionThreshold]="data.threshold"
  [isStopOnObjectFoundEnabled]="data.quitOnFound"
  (predictionChange)="handlePredictionChange($event)"    ></app-tf-prediction>



<!--Using Loop to Display Data-->
<div *ngFor="let Predictionresult of Predictionresults">
  <p>Classification: {{ Predictionresult.object }}</p>
  <p [class.correct]="Predictionresult.correct"
     [class.incorrect]="!Predictionresult.correct">
    Correct: {{ Predictionresult.correct }}
  </p>
  <p>Certainty: {{ Predictionresult.certainty }}%</p>
</div>


<!--Parent Component End-->